<div class="place-shell" [class]="shellClass" [class.has-place-header]="showHeader">
  @if (showHeader) {
  <app-world-header
    [homeHref]="homeHref"
    [homeAria]="homeAria"
    [homeIcon]="homeIcon"
    [homeLabel]="homeLabel"
    [homeLabelCollapsible]="homeLabelCollapsible"
    [showSuggestLink]="showSuggestLink"
    [showHomeShortcut]="showHomeShortcut"
    [extraClass]="headerExtraClass"
    [homeLinkExtraClass]="homeLinkExtraClass"
    [userbarExtraClass]="userbarExtraClass"
    [beforeLogout]="beforeLogout"
  />
  <app-world-navigation [parentHref]="homeHref" [parentLabel]="homeAria" [showBack]="showBackLink" />
  }
  <app-page-wip />
  <main>
    <ng-content />
    @if (showBackLink) {
      <app-back-link [href]="homeHref" [label]="homeAria" />
    }
  </main>
</div>
